body {
  max-width: 100%;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 8.5%, #0b1d26 21%),url("/src/assets/imgs/MG.png");
  background-attachment: scroll;
  background-size: contain;
  background-repeat: no-repeat;

  @include mq(md) {
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 15.5%, #0b1d26 28%),url("/src/assets/imgs/MG.png");
    background-size: contain;
  }

  @include mq(lg) {
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 14.5%, #0b1d26 28%),url("/src/assets/imgs/MG-hero.png");
    background-size: contain;
  }

  @include mq(xl) {
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 26.5%, #0b1d26 31%),url("/src/assets/imgs/MG-hero.png");
    background-size: contain;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}
