$font: 'Poppins', sans-serif;

$black: black;
$darkBlue: #0B1D26;
$white: #FFFFFF;
$ligth-white: #f5f5f5;
$def: 320px;
$yellow: #FDD130;

//global media vars

$xs: 375px;
$sm: 425px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

//Breakpoints
$breakpoints: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
);
