$font: 'Poppins', sans-serif;

$black: black;
$darkBlue: #0B1D26;
$white: #FFFFFF;
$ligth-white: #f5f5f5;
$def: 320px;
$yellow: #FDD130;

//global media vars

$xs:375px;
$sm:425px;
$md:768px;
$lg:1024px;
$xl:1200px;

//Breakpoints

$breakpoints: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
);

//- to container
$col-sm: 540px; // (max-width: 540px)
$col-md: 720px; // (max-width: 720px)
$col-lg: 960px; // (max-width: 960px)
$col-xl: 1140px; // (max-width: 1140px)


