html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
P acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB; }
/* latin-ext */
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
body {
  max-width: 100%;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 8.5%, #0B1D26 21%), url("/src/assets/imgs/MG.png");
  background-attachment: scroll;
  background-size: contain;
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    body {
      background: linear-gradient(180deg, rgba(11, 29, 38, 0) 15.5%, #0B1D26 28%), url("/src/assets/imgs/MG.png");
      background-repeat: no-repeat;
      background-size: contain; } }
  @media (min-width: 1024px) {
    body {
      max-width: 100%;
      background: linear-gradient(180deg, rgba(11, 29, 38, 0) 14.5%, #0B1D26 28%), url("/src/assets/imgs/MG-hero.png");
      background-attachment: scroll;
      background-size: contain;
      background-repeat: no-repeat; } }
  @media (min-width: 1200px) {
    body {
      max-width: 100%;
      background: linear-gradient(180deg, rgba(11, 29, 38, 0) 26.5%, #0B1D26 31%), url("/src/assets/imgs/MG-hero.png");
      background-attachment: scroll;
      background-size: contain;
      background-repeat: no-repeat; } }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1200px;
  margin-right: 0;
  margin-left: 0;
  padding-left: 30px;
  padding-right: 30px; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1400px;
      padding-left: 0;
      padding-right: 0;
      margin-right: 30px;
      margin-left: 30px; } }

hr {
  position: absolute;
  top: 150px;
  width: 53px;
  height: 2px;
  border: none;
  background-color: #FDD130; }
  @media screen and (min-width: 425px) {
    hr {
      top: 205px;
      width: 76px; } }
  @media screen and (min-width: 768px) {
    hr {
      top: 370px;
      width: 100px;
      height: 3px; } }
  @media screen and (min-width: 1024px) {
    hr {
      display: none; } }

.footer {
  width: 100%;
  height: auto; }

.container .header {
  margin-bottom: 125px;
  padding-top: 25px;
  text-align: center;
  z-index: 10; }
  @media (min-width: 768px) {
    .container .header {
      margin-bottom: 260px; } }
  @media (min-width: 1024px) {
    .container .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0; } }
  @media (min-width: 1200px) {
    .container .header {
      max-width: 1400px;
      margin-bottom: 110px; } }
  .container .header img {
    width: 102px;
    height: 39px;
    margin-bottom: 30px; }
    @media (min-width: 425px) {
      .container .header img {
        width: 115px;
        height: 45px; } }
    @media (min-width: 768px) {
      .container .header img {
        width: 145px;
        height: 45px;
        margin-bottom: 110px; } }
    @media (min-width: 1024px) {
      .container .header img {
        width: 102px;
        height: 39px;
        margin: 0; } }
  .container .header .navigation ul {
    display: flex;
    justify-content: space-around; }
    .container .header .navigation ul li > a {
      font-family: "Poppins", sans-serif;
      font-size: 17px;
      font-weight: 700;
      line-height: 24px;
      text-decoration: none;
      color: black; }
      @media (min-width: 768px) {
        .container .header .navigation ul li > a {
          font-size: 30px; } }
      @media (min-width: 1024px) {
        .container .header .navigation ul li > a {
          font-size: 12px;
          margin-left: 20px; } }
      @media (min-width: 1200px) {
        .container .header .navigation ul li > a {
          font-size: 18px;
          margin-left: 40px; } }
@media (min-width: 1024px) {
  .container .content .banner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 29px; } }
@media (min-width: 1200px) {
  .container .content .banner {
    margin-top: 82px; } }
.container .content .banner__half {
  display: none; }
  @media (min-width: 1024px) {
    .container .content .banner__half__icon {
      display: block; } }
.container .content .banner__title-principal {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: start;
  line-height: 40px;
  background-color: 0; }
  @media (min-width: 425px) {
    .container .content .banner__title-principal {
      font-size: 2rem; } }
  @media (min-width: 768px) {
    .container .content .banner__title-principal {
      margin-bottom: 89rem;
      font-size: 50px;
      font-size: 54px;
      line-height: 55px;
      letter-spacing: 6px; } }
  @media (min-width: 1024px) {
    .container .content .banner__title-principal {
      display: flex;
      justify-content: center;
      margin-top: 65px;
      font-size: 44px;
      letter-spacing: 0;
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .container .content .banner__title-principal {
      margin-top: 10px;
      font-size: 74px;
      line-height: 1; } }
.container .content .banner__slider {
  position: relative;
  display: none; }
  @media (min-width: 1024px) {
    .container .content .banner__slider {
      display: block;
      position: fixed;
      right: 30px;
      top: 100px; }
      .container .content .banner__slider ul {
        text-align: end; }
        .container .content .banner__slider ul::before {
          position: absolute;
          content: '';
          width: 2px;
          height: 180px;
          left: 40px;
          background-color: black; }
        .container .content .banner__slider ul li {
          margin-bottom: 20px; }
          .container .content .banner__slider ul li a {
            color: black;
            font-family: "Poppins", sans-serif;
            font-size: 11px;
            line-height: 27px;
            font-weight: 700;
            text-decoration: none;
            cursor: pointer;
            transition: all .5s; }
            .container .content .banner__slider ul li a:hover {
              color: white; }
        .container .content .banner__slider ul.scrolling {
          background-color: #FFFFFF; }
          .container .content .banner__slider ul.scrolling__slider ul li a {
            color: #FFFFFF; } }
@media (min-width: 1024px) {
  .container .content .cruiser .box,
  .container .content .carving .box,
  .container .content .downhill .box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 98px;
    margin-bottom: 200px; } }
@media (min-width: 1200px) {
  .container .content .cruiser .box,
  .container .content .carving .box,
  .container .content .downhill .box {
    justify-content: center;
    align-items: center;
    gap: 200px; } }
.container .content .cruiser .box .text h2,
.container .content .carving .box .text h2,
.container .content .downhill .box .text h2 {
  position: relative;
  margin-top: 120px;
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: 700px;
  font-family: "Poppins", sans-serif;
  line-height: 15px;
  color: #f5f5f5; }
  @media (min-width: 768px) {
    .container .content .cruiser .box .text h2,
    .container .content .carving .box .text h2,
    .container .content .downhill .box .text h2 {
      font-size: 40px;
      font-weight: 600; } }
  @media (min-width: 1024px) {
    .container .content .cruiser .box .text h2,
    .container .content .carving .box .text h2,
    .container .content .downhill .box .text h2 {
      font-size: 35px; } }
  .container .content .cruiser .box .text h2::before,
  .container .content .carving .box .text h2::before,
  .container .content .downhill .box .text h2::before {
    position: absolute;
    bottom: 55px;
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #f5f5f5;
    opacity: 25%; }
    @media (min-width: 768px) {
      .container .content .cruiser .box .text h2::before,
      .container .content .carving .box .text h2::before,
      .container .content .downhill .box .text h2::before {
        font-size: 180px;
        bottom: 85px; } }
    @media (min-width: 1024px) {
      .container .content .cruiser .box .text h2::before,
      .container .content .carving .box .text h2::before,
      .container .content .downhill .box .text h2::before {
        font-size: 110px;
        left: -66px;
        letter-spacing: 5px;
        bottom: 25px; } }
    @media (min-width: 1200px) {
      .container .content .cruiser .box .text h2::before,
      .container .content .carving .box .text h2::before,
      .container .content .downhill .box .text h2::before {
        font-size: 155px;
        left: -95px;
        bottom: 43px; } }
  .container .content .cruiser .box .text h2::after,
  .container .content .carving .box .text h2::after,
  .container .content .downhill .box .text h2::after {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 70px;
    height: 2px;
    background: #FDD130; }
    @media (min-width: 768px) {
      .container .content .cruiser .box .text h2::after,
      .container .content .carving .box .text h2::after,
      .container .content .downhill .box .text h2::after {
        width: 150px;
        height: 4px;
        bottom: 70px; } }
    @media (min-width: 1024px) {
      .container .content .cruiser .box .text h2::after,
      .container .content .carving .box .text h2::after,
      .container .content .downhill .box .text h2::after {
        width: 36px;
        height: 1px;
        bottom: 35px;
        left: 3px; } }
    @media (min-width: 1200px) {
      .container .content .cruiser .box .text h2::after,
      .container .content .carving .box .text h2::after,
      .container .content .downhill .box .text h2::after {
        width: 50px;
        bottom: 50px;
        left: 0; } }
.container .content .cruiser .box .text p,
.container .content .carving .box .text p,
.container .content .downhill .box .text p {
  margin-bottom: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #f5f5f5;
  font-size: 18px;
  line-height: 25px; }
  @media (min-width: 768px) {
    .container .content .cruiser .box .text p,
    .container .content .carving .box .text p,
    .container .content .downhill .box .text p {
      font-size: 25px; } }
  @media (min-width: 1024px) {
    .container .content .cruiser .box .text p,
    .container .content .carving .box .text p,
    .container .content .downhill .box .text p {
      width: 335px;
      font-size: 12px;
      line-height: 18px; } }
  @media (min-width: 1024px) {
    .container .content .cruiser .box .text p,
    .container .content .carving .box .text p,
    .container .content .downhill .box .text p {
      width: 405px; } }
.container .content .cruiser .box .text a,
.container .content .carving .box .text a,
.container .content .downhill .box .text a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FDD130;
  font-family: "Poppins", sans-serif;
  text-decoration: none; }
  @media (min-width: 768px) {
    .container .content .cruiser .box .text a,
    .container .content .carving .box .text a,
    .container .content .downhill .box .text a {
      font-size: 22px; } }
  @media (min-width: 1024px) {
    .container .content .cruiser .box .text a,
    .container .content .carving .box .text a,
    .container .content .downhill .box .text a {
      font-size: 14px; } }
  .container .content .cruiser .box .text a .arrow,
  .container .content .carving .box .text a .arrow,
  .container .content .downhill .box .text a .arrow {
    margin-top: 0;
    margin-bottom: 0;
    width: 10px;
    height: 10px; }
    @media (min-width: 768px) {
      .container .content .cruiser .box .text a .arrow,
      .container .content .carving .box .text a .arrow,
      .container .content .downhill .box .text a .arrow {
        width: 20px;
        height: 20px; } }
.container .content .cruiser .box img,
.container .content .carving .box img,
.container .content .downhill .box img {
  margin-bottom: 50px;
  width: 312rem;
  height: auto; }
  @media (min-width: 768px) {
    .container .content .cruiser .box img,
    .container .content .carving .box img,
    .container .content .downhill .box img {
      margin-bottom: 200px; } }
  @media (min-width: 1024px) {
    .container .content .cruiser .box img,
    .container .content .carving .box img,
    .container .content .downhill .box img {
      width: 300px;
      height: 492px;
      margin: 0; } }
  @media (min-width: 1200px) {
    .container .content .cruiser .box img,
    .container .content .carving .box img,
    .container .content .downhill .box img {
      width: 395px;
      height: 600px;
      margin: 0; } }
.container .content .cruiser {
  margin-top: 415px;
  margin-bottom: 80px; }
  @media (min-width: 425px) {
    .container .content .cruiser {
      margin-top: 700px; } }
  @media (min-width: 1024px) {
    .container .content .cruiser {
      margin-top: 365px; } }
  @media (min-width: 1200px) {
    .container .content .cruiser {
      margin-top: 445px; } }
  @media (min-width: 1024px) {
    .container .content .cruiser .box img {
      margin: 0; } }
  .container .content .cruiser .box h2::before {
    content: "01"; }
.container .content .carving {
  margin-bottom: 80px; }
  @media (min-width: 1024px) {
    .container .content .carving .box img {
      order: 1; } }
  .container .content .carving .box h2::before {
    content: "02"; }
.container .content .downhill {
  margin-bottom: 80px; }
  .container .content .downhill .box h2::before {
    content: "03"; }

@media (min-width: 768px) {
  footer .content {
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    margin-top: 200px; } }
footer .content span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: #f5f5f5; }
  @media (min-width: 1024px) {
    footer .content span {
      font-weight: 500;
      font-size: 12px;
      line-height: 32px; } }
footer .content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #FDD130;
  margin-bottom: 24px; }
footer .content ul li {
  padding-bottom: 16px; }
  footer .content ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    line-height: 32px;
    color: #FFFFFF; }
footer .sector {
  margin-bottom: 65px; }
  footer .sector .logo-footer {
    display: block;
    width: 102px;
    height: 39px;
    margin-bottom: 17px; }
footer .service {
  margin-bottom: 64px; }
footer .about {
  padding-bottom: 90px; }

/*# sourceMappingURL=style.css.map */
