@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
P acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}
.container:not(.is-fluid) {
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 570px;
  }
}
@media only screen and (min-width: 900px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 860px;
  }
}
@media only screen and (min-width: 1200px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 1400px;
  }
}

.container-sm {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .container-sm {
    max-width: 570px;
  }
}
@media only screen and (min-width: 900px) {
  .container-sm {
    max-width: 860px;
  }
}
@media only screen and (min-width: 1200px) {
  .container-sm {
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container-sm {
    max-width: 1400px;
  }
}

.container-md {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media only screen and (min-width: 900px) {
  .container-md {
    max-width: 860px;
  }
}
@media only screen and (min-width: 1200px) {
  .container-md {
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container-md {
    max-width: 1400px;
  }
}

.container-lg {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .container-lg {
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container-lg {
    max-width: 1400px;
  }
}

.container-xl {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media only screen and (min-width: 1800px) {
  .container-xl {
    max-width: 1400px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background: url(../assets/imgs/MG-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-principal {
  display: block;
}
.contenedor-principal .banner {
  margin-bottom: 120px;
}
.contenedor-principal .banner header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  margin-left: 59px;
  margin-right: 59px;
}
.contenedor-principal .banner header nav .logo {
  width: 102px;
  height: 39px;
}
.contenedor-principal .banner header nav ul {
  display: flex;
}
.contenedor-principal .banner header nav ul li > a {
  text-decoration: none;
  color: black;
  margin: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.contenedor-principal .banner__half {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 180px;
}
.contenedor-principal .banner__half .icon {
  margin-top: 102px;
}
.contenedor-principal .banner__half .icon a {
  display: block;
  margin-bottom: 20px;
}
.contenedor-principal .banner__half h1 {
  margin-top: 139px;
  line-height: 70px;
  margin-left: 64px;
  font-family: "Poppins", sans-serif;
  font-size: 66px;
}
.contenedor-principal .banner__half .slider {
  margin-top: 125px;
}
.contenedor-principal .banner__half .slider ul {
  text-align: right;
}
.contenedor-principal .banner__half .slider ul li {
  margin-bottom: 40px;
}
.contenedor-principal .banner__half .slider ul li a {
  color: black;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
}
.contenedor-principal .main {
  width: 100%;
  margin: 0 auto;
  background: #0B1D26;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 6%);
}
.contenedor-principal .main .cruiser,
.contenedor-principal .main .carving,
.contenedor-principal .main .downhill {
  display: flex;
  justify-content: center;
}
.contenedor-principal .main .cruiser .box,
.contenedor-principal .main .carving .box,
.contenedor-principal .main .downhill .box {
  width: 500px;
  align-self: center;
}
.contenedor-principal .main .cruiser .box h2,
.contenedor-principal .main .cruiser .box p,
.contenedor-principal .main .carving .box h2,
.contenedor-principal .main .carving .box p,
.contenedor-principal .main .downhill .box h2,
.contenedor-principal .main .downhill .box p {
  margin-bottom: 27px;
}
.contenedor-principal .main .cruiser .box h2,
.contenedor-principal .main .carving .box h2,
.contenedor-principal .main .downhill .box h2 {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  font-size: 40px;
  line-height: 18px;
}
.contenedor-principal .main .cruiser .box h2::before,
.contenedor-principal .main .carving .box h2::before,
.contenedor-principal .main .downhill .box h2::before {
  content: "";
  font-size: 174px;
  line-height: 162px;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  opacity: 25%;
  position: absolute;
  margin: -106px;
  margin-top: -121px;
}
.contenedor-principal .main .cruiser .box p,
.contenedor-principal .main .carving .box p,
.contenedor-principal .main .downhill .box p {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  font-size: 12px;
  line-height: 25px;
}
.contenedor-principal .main .cruiser .box a,
.contenedor-principal .main .carving .box a,
.contenedor-principal .main .downhill .box a {
  color: #FDD130;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.contenedor-principal .main .cruiser img,
.contenedor-principal .main .carving img,
.contenedor-principal .main .downhill img {
  width: 380px;
  height: 585px;
}
.contenedor-principal .cruiser {
  margin-top: 364px;
}
.contenedor-principal .cruiser .box {
  margin-right: 40px;
}
.contenedor-principal .cruiser .box h2::before {
  content: "01";
}
.contenedor-principal .carving {
  margin-top: 200px;
}
.contenedor-principal .carving .box {
  padding-left: 100px;
}
.contenedor-principal .carving .box h2::before {
  content: "02";
}
.contenedor-principal .downhill {
  margin-top: 200px;
}
.contenedor-principal .downhill .box {
  margin-right: 72px;
}
.contenedor-principal .downhill .box h2::before {
  content: "03";
}
.contenedor-principal footer .content {
  display: flex;
  height: 400px;
  justify-content: space-evenly;
  margin-top: 200px;
}
.contenedor-principal footer .content span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: whitesmoke;
}
.contenedor-principal footer .content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #FDD130;
  margin-bottom: 20px;
}
.contenedor-principal footer .content ul li > a {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 18px;
  line-height: 32px;
  list-style: none;
  text-decoration: none;
}
.contenedor-principal footer .content__sector {
  display: flex;
  flex-direction: column;
}
.contenedor-principal footer .content__sector .logo {
  width: 102px;
  height: 39px;
  margin-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
