@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Poppins-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font-primary;
    src: url(../assets/fonts/Poppins-Black.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}
